body {
    font-family: 'verdana', sans-serif;
    background-image: url('Eclipse.png');
    text-align: left;
    padding: 20px;
}



header {
    background-color: rgba(255, 204, 0, 0.19);
    color: rgb(255, 255, 255);
    padding: 30px;
}

img {
    float: left;
}

h1 {
    padding-left: 150px;

}

h2 {
    color: #ffffff;
    text-align: left;
    padding-left: 15px;
}


button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 15px;
}

button:hover {
    background-color: #357ab8;
}
